/* Slider Styling */

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slider-imgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    display: flex;
}

.slider-imgs img {
    width: 25%;
    height: 100%;
    object-fit: cover;
}

.left,
.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


/* Slider Styling ends*/

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: eliteFont;
    src: url(SansationLight.ttf);
}

* {
    font-family: eliteFont;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 6px;
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 10px;
}

a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    background-color: #555;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-basis: 26%;
    /* set each column to be 25% of the container's width */
    padding: 10px;
    box-sizing: border-box;
}

.content {
    width: 30%;
    margin: 0 auto;
    /* this centers the content horizontally */
}

.btn {
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background: #333;
    color: white;
    cursor: pointer;
}

form {
    width: 440px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 94%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

input:focus {
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 5px #007bff;
}

button:hover {
    background-color: #0062cc;
}